@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --title-text-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --icon-background-color: #f5f4fa;
  --margin-set-gap: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
*,
*::before,
*::after {
  box-sizing: inherit;
}*/
body {
  background-color: var(--hero-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 100%;
  justify-content: center;
}

/*приминяем ко всем спискам*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*убираем подчёркивание текста*/
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  /*убираем зазор в 4 px*/
  max-width: 100%;
  /*растягивание не шире, чем оригинальный размер*/
  height: auto;
}

textarea {
  /*44:00 Для комментариев в модельном окне https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  /*или padding-left: 15px; padding-right: 15px;*/
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --icon-background-color: #f5f4fa;
  --margin-set-gap: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Общее оформление текста*/
.products-title,
.team-title,
.clients-title {
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title,
.clients-title {
  display: inline-block;
}

/*///////////////////Всплываюее окно///////////////*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /*
  background-color: rgba(33, 150, 243, 0.5)*/
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  /*Делаем элемент невидимым*/
  pointer-events: none;
  /*делаем возможность клика через элемент*/
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: #000000;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--title-text-color);
  box-shadow: none;
}

.vector_icon {
  width: 11px;
  height: 11px;
}

.form {
  width: 448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /*margin: 40px 40px 12px;*/
}

.mode-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column;
  /*1:14:16 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

/* ИЛИ .form-field input {/*1:14:16 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
/*width: 100%;
}*/
.icon-position {
  position: relative;
  margin-top: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  padding: 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  /*1:19:00 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
}

.form-field input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

/*ИЛИ*/
.form-field:focus-within > .form-input,
.form-field:focus-within > .comment {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.form-field label {
  /*1:17:00 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
  margin-bottom: 5px;
}

.form-icons {
  /*55:00https://www.youtube.com/watch?v=6_Fq4G1pZas&feature=youtu.be*/
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  background-color: #ffffff;
  transform: translateY(-50%);
}

.form-input:focus + .form-icons,
.form-input:hover + .form-icons {
  fill: #2196f3;
}

.form-input:focus,
.form-input:hover,
.comment:focus,
.comment:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

/*.form-icons_mail {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 70%;
  left: 10px;
  transform: translateY(-70%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}*/
/*.form-checkbox {
  display: flex;
  text-align: center;
  justify-content: center;
}*/
.form-checkbox {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.policy-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
}

.comment {
  width: 100%;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  /*невозможно растягивать ширину 1:18:00 https://www.youtube.com/watch?v=6_Fq4G1pZas&feature=youtu.be*/
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 8px;
}

/*.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: #212121;
}*/
/*.checkbox:checked {
  -webkit-appearance: none; /*1:20:00 https://www.youtube.com/watch?v=wahf3ZcDxV4&feature=youtu.be*/
/* -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
}*/
.mode-button {
  display: inline-block;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 40px;
  width: 200px;
  border-radius: 4px;
  color: var(--hero-color);
  background-color: var(--title-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid #2196f3;
  outline: inherit;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-field:focus-within > .form-icons,
.form-field:focus-within > .form-icons_mail {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/*===================Кастомный Checkbox==================*/
/*ИЛИ 1:24:00 https://www.youtube.com/watch?v=6_Fq4G1pZas&feature=youtu.be*/
.form-checkbox {
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  /*1:20:00 https://www.youtube.com/watch?v=wahf3ZcDxV4&feature=youtu.be*/
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .check-icon {
  /*1:36:00https://www.youtube.com/watch?v=wahf3ZcDxV4&feature=youtu.be*/
  background-color: #2196f3;
  background-image: url(../images/checkplus.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  color: #ffffff;
  border: 1px solid #000000;
  border-color: #2196f3;
  box-sizing: border-box;
  border-radius: 2px;
}

.check-icon {
  /*1:36:00https://www.youtube.com/watch?v=wahf3ZcDxV4&feature=youtu.be*/
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #000000;
  margin-right: 7px;
}

/*===================Кастомный Checkbox END==================*/
/*/////////////////////HEADER///////////////////*/
.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav,
.site-nav {
  display: flex;
  align-items: center;
}

/*Hero*/
.hero-section {
  display: flex;
  margin: auto;
  margin-bottom: 0;
  background-color: #2f303a;
  text-align: center;
  justify-content: center;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  /*48:55 мин https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
  /*background-position: center;*/
  background-size: cover;
}

.hero-section .container {
  display: block;
  justify-content: center;
  text-align: center;
  /*[HTML+CSS #30] Блочная модель/Flexbox. Q&A (26/11/2020) 1:48:21 https://www.youtube.com/watch?v=GezCqjS6SKo&feature=youtu.be*/
}

.hero-title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 252px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /*max-width: 696px;*/
  align-content: center;
  animation-duration: 1800ms;
}

/*Button*/
.button {
  color: var(--hero-color);
  background-color: var(--title-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 50px;
  margin-top: 30px;
  margin-bottom: 200px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  animation-duration: 2200ms;
}

.button:hover, .button:focus {
  color: var(--title-text-color);
  background-color: var(--hero-color);
  font-family: inherit;
}

/*/ ///////////////LOGO////////////*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-nav .logo {
  margin-right: 93px;
}

.logo-web {
  color: #000000;
}

/*.logo-web:hover,
.logo-web:focus {
  color: var(--title-text-color);
}*/
.logo-footer-accent {
  color: #ffffff;
}

/*.logo-footer-accent:hover,
.logo-footer-accent:focus {
  color: var(--title-text-color);
}*/
/*///////////////SITE-NAV/////////*/
.site-nav .item + .item {
  /*альтернатива .site-nav .item:not(:last-child), но при использовании :last-child необходимо использовать - margin-right: 50px; */
  /*outline: 1px solid red;*/
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  margin-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  position: relative;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.site-nav .current::after,
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: currentColor;
  border-radius: 2px;
}

/*///////////////SITE-AUTH/////////////*/
.site-auth {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-auth .item + .item {
  margin-left: 30px;
}

/*.site-auth .item  + .item /*альтернатива .site-auth .item:not(:last-child). Только делает последним не правый, а левый элемент (от первого левого, который не учитывается).*/
/*{
  margin-left: 30px;
}*/
.auth-list_link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-list_link:hover, .auth-list_link:focus {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

.auth-list_icona {
  width: 16px;
  height: 12px;
}

.auth-list_iconb {
  width: 10px;
  height: 16px;
}

.auth-list_icona,
.auth-list_iconb {
  fill: currentColor;
  margin-right: 10px;
}

.auth-list_link {
  display: flex;
  align-items: center;
}

.social-list_link:hover, .social-list_link:focus {
  background-color: var(--title-text-color);
}

.social-list_link:hover .social-list_icon,
.social-list_link:focus .social-list_icon {
  fill: var(--hero-color);
}

/*Иконки через Before 
.icon-mail,
.icon-telephone {
  display: flex;
}*/
/*.icon-mail::before {
  content: "";
  display: block;
  background-image: url(../images/imgsprite/mail.svg);
  height: 12px;
  width: 16px;
  fill: currentColor;
}
.icon-telephone::before {
  content: "";
  display: block;
  background-image: url(../images/imgsprite/smartphone.svg);
  height: 16px;
  width: 10px;
  fill: currentColor;
}*/
/*.icon-mail:hover::before,
.icon-mail:focus::before,
.icon-telephone:hover::before,
.icon-telephone:focus::before {
  content: "";
  fill: var(--title-text-color);
}*/
/*///////Наши преимуества(advantages)/////*/
/*advantages-title {}*/
/*1:17:40 https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /*(29:42) https://www.youtube.com/watch?v=GezCqjS6SKo&feature=youtu.be*/
  margin-left: -30px;
  /*margin-top: -30px;*/
  text-align: start;
  /*  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  flex-basis: calc(100% / 3 - 10px);*/
}

.advantages-list-item {
  /*https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view*/
  flex-basis: calc( 100% / 4 - 30px);
  /*7:00:00 https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view*/
  /*margin-top: 30px;*/
  margin-left: 30px;
}

.advantages-list-item:not(:first-child) {
  margin-left: 30px;
}

/*.advantages-list-item::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px; /*33:00 https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
/*background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-antena::before {
  /*Если через div и Sprite - 2:10:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
/* content: "";
  background-image: url(/images/imgsprite/antenna.svg);
}

.icon-clock::before {
  content: "";
  background-image: url(/images/imgsprite/clock.svg);
}

.icon-diagram::before {
  content: "";
  background-image: url(/images/imgsprite/diagram.svg);
}

.icon-astronaut::before {
  content: "";
  background-image: url(/images/imgsprite/astronaut.svg);
}
*/
/*ИЛИ .advantages-list-item:nth-child(1)::before {
  content: "";
  background-image: url(/images/imgsprite/antenna.svg);
}
.advantages-list-item:nth-child(2)::before {
  content: "";
  background-image: url(/images/imgsprite/clock.svg);
}
.advantages-list-item:nth-child(3)::before {
  content: "";
  background-image: url(/images/imgsprite/diagram.svg);
}
.advantages-list-item:nth-child(4)::before {
  content: "";
  background-image: url(/images/imgsprite/astronaut.svg);
}*/
/*.advantages-list-item:nth-child(2)::before {
  background-image: url(/images/imgsprite/clock.svg);
  height: 70px;
}*/
.advantages-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages-content {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.advantages-icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  /*fill: var(--social-link-color);*/
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--icon-background-color);
  margin-bottom: 30px;
}

.advantages-icon_link:hover, .advantages-icon_link:focus {
  fill: var(--title-text-color);
  border: 1px solid var(--title-text-color);
}

/*Product*/
/*Значение products-title в общем оформлении текста*/
.section.products-section {
  padding-top: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  /*6:50 https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view*/
  margin-left: calc(-1 * var(--margin-set-gap));
  margin-top: calc(-1 * var(--margin-set-gap));
}

.product-list .item {
  flex-basis: calc(100% / 3 - var(--margin-set-gap));
  margin-left: var(--margin-set-gap);
  margin-top: var(--margin-set-gap);
}

.product-cover {
  /*ДЗ-5*/
  position: relative;
  display: flex;
}

.product-cover_content {
  /*ДЗ-5*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/*.product-list .item + .item {
  margin-left: 30px;
}*/
/*Clients*/
.clients-section {
  margin-top: 0px;
}

.clients-list {
  /*55:00 https://www.youtube.com/watch?v=ybsPTMtkQp4&feature=youtu.be*/
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.clients-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-link-color);
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list_link:hover, .clients-list_link:focus {
  fill: var(--title-text-color);
  border: 1px solid var(--title-text-color);
}

.clients-list_item:not(:last-child) {
  margin-right: 30px;
}

/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-list {
  display: flex;
}

.footer-maps {
  color: var(--hero-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-first_item {
  margin-right: 50px;
}

.footer-address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list .item:first-child {
  margin-top: 20px;
}

/*!!!!!!!!!!footer-second_item!!!!!!!!!*/
.footer-social {
  width: 206px;
  display: block;
}

.footer-social_title {
  /*42:00 https://www.youtube.com/watch?v=8rDA1NfOqEs&feature=youtu.be*/
  display: inline-block;
  color: var(--hero-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 10px;
}

.footer-social_list {
  display: flex;
}

.footer-social_list .footer-list_item:not(:last-child) {
  margin-right: 10px;
}

.footer-list_link {
  /*1:43:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--hero-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list_link:hover, .footer-list_link:focus {
  background-color: var(--title-text-color);
  fill: var(--hero-color);
}

.footer-list_link:hover .footer-list_icon,
.footer-list_link:focus .footer-list_icon {
  fill: var(--hero-color);
}

.footer-list_link .footer-list_icon {
  width: 20px;
  height: 20px;
}

/*============Form============*/
.footer-form_item {
  display: block;
  margin-left: 120px;
}

.footer-form_item .footer-form_title {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 10px;
}

.footer-form_input {
  display: flex;
  justify-content: center;
  align-items: center;
  /*.button-form::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(/images/icon\ send.svg);
  background-size: contain;
  color: #ffffff;
}*/
}

.footer-form_input .footer-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  /* padding-top: 15px;
  padding-bottom: 15px;*/
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-form_input .footer-input input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form_input .button-form {
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.footer-form_input .button-form-icons {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  fill: #ffffff;
}

/*/////Team/////*/
.team-list {
  display: flex;
}

.team-list .item {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

/*.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-list .item {
  flex-basis: calc(100%/4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 100px;
}*/
.teammate-img,
.teammate-position {
  margin-bottom: 30px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.teammate-position {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section {
  background-color: #f5f4fa;
  margin-bottom: 0px;
  width: 100%;
  box-sizing: none;
}

.team-list .item {
  background-color: var(--hero-color);
}

.social-list {
  display: flex;
  margin: 0px 32px 30px;
  justify-content: space-between;
}

.social-list_link {
  /*1:43:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--social-link-color);
}

.social-list_link:hover, .social-list_link:focus {
  background-color: var(--title-text-color);
}

.social-list_link:hover .social-list_icon,
.social-list_link:focus .social-list_icon {
  fill: var(--hero-color);
}

.social-list_icon {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */