/*///////Наши преимуества(advantages)/////*/

/*advantages-title {}*/
/*1:17:40 https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
.advantages-list {
  display: flex;
  /*(29:42) https://www.youtube.com/watch?v=GezCqjS6SKo&feature=youtu.be*/

  /*margin-top: -30px;*/
  text-align: start;
  /*  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  flex-basis: calc(100% / 3 - 10px);*/
  margin: -15px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.advantages-list-item {
  margin: 15px;
  @media screen and (max-width: 767px) {
    border-radius: 4px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      100% / 4 - 30px
    ); /*7:00:00 https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view*/
    /*margin-top: 30px;*/
  }
}

/*.advantages-list-item::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px; /*33:00 https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
/*background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-antena::before {
  /*Если через div и Sprite - 2:10:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
/* content: "";
  background-image: url(/images/imgsprite/antenna.svg);
}

.icon-clock::before {
  content: "";
  background-image: url(/images/imgsprite/clock.svg);
}

.icon-diagram::before {
  content: "";
  background-image: url(/images/imgsprite/diagram.svg);
}

.icon-astronaut::before {
  content: "";
  background-image: url(/images/imgsprite/astronaut.svg);
}
*/

/*ИЛИ .advantages-list-item:nth-child(1)::before {
  content: "";
  background-image: url(/images/imgsprite/antenna.svg);
}
.advantages-list-item:nth-child(2)::before {
  content: "";
  background-image: url(/images/imgsprite/clock.svg);
}
.advantages-list-item:nth-child(3)::before {
  content: "";
  background-image: url(/images/imgsprite/diagram.svg);
}
.advantages-list-item:nth-child(4)::before {
  content: "";
  background-image: url(/images/imgsprite/astronaut.svg);
}*/

/*.advantages-list-item:nth-child(2)::before {
  background-image: url(/images/imgsprite/clock.svg);
  height: 70px;
}*/

.advantages-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-top: 30px;
  }
}

.advantages-content {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.advantages-icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  /*fill: var(--social-link-color);*/
  border-radius: 4px;
  background-color: var(--icon-background-color);
  padding: 25px 142px;

  &:hover,
  &:focus {
    fill: var(--title-text-color);
    // border: 1px solid var(--title-text-color);
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }
}
