/*Clients*/
.clients-section {
  margin-top: 0px;
}
.clients-list {
  /*55:00 https://www.youtube.com/watch?v=ybsPTMtkQp4&feature=youtu.be*/
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.clients-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-link-color);
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    fill: var(--title-text-color);
    border: 1px solid var(--title-text-color);
  }
}

.clients-list_item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
