/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-list_tab {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 70px;
    margin-bottom: 60px;
  }
}
.footer-maps {
  color: var(--hero-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-first_item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.footer-address-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  & .item:not(:last-child) {
    margin-bottom: 9px;
  }
  & .item:first-child {
    margin-top: 20px;
  }
}

/*!!!!!!!!!!footer-second_item!!!!!!!!!*/
.footer-social {
  display: block;
  &_title {
    /*42:00 https://www.youtube.com/watch?v=8rDA1NfOqEs&feature=youtu.be*/
    display: inline-block;
    color: var(--hero-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 10px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      padding-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
  }
}

.footer-social_list {
  display: flex;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  & .footer-list_item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-list_link {
  /*1:43:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--hero-color);
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--title-text-color);
    fill: var(--hero-color);
  }

  &:hover .footer-list_icon,
  &:focus .footer-list_icon {
    fill: var(--hero-color);
  }
  & .footer-list_icon {
    width: 20px;
    height: 20px;
  }
}

/*============Form============*/

.footer-form_item {
  display: block;

  @media screen and (min-width: 1200px) {
    margin-left: 120px;
  }

  & .footer-form_title {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

.footer-form_input {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .footer-input {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    /* padding-top: 15px;
  padding-bottom: 15px;*/

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    background-color: #2f303a;
    color: #ffffff;
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }

    & input::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  & .button-form {
    display: inline-flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 29px;

    align-items: center;
    cursor: pointer;
    position: relative;

    &-icons {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      fill: #ffffff;
    }
  }
  /*.button-form::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(/images/icon\ send.svg);
  background-size: contain;
  color: #ffffff;
}*/
}
