/*/////////////////////HEADER///////////////////*/
.header {
  border: 1px solid #ececec;
  position: relative;
}
/*.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: var(--title-text-color);
    fill: var(--title-text-color);
  }
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
  padding: 21px 15px;
  text-align: center;
  font-size: 20px;
  &.is-open {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
