/*/ ///////////////LOGO////////////*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}

// .main-nav .logo {
//   @media screen and (min-width: 1200px) {
//     margin-right: 93px;
//   }
// }
.logo-web {
  color: #000000;
}

/*.logo-web:hover,
.logo-web:focus {
  color: var(--title-text-color);
}*/

.logo-footer-accent {
  color: #ffffff;
}

/*.logo-footer-accent:hover,
.logo-footer-accent:focus {
  color: var(--title-text-color);
}*/
