/*Product*/

/*Значение products-title в общем оформлении текста*/
.section.products-section {
  padding-top: 0;
}
.product-list {
  display: flex;
  flex-wrap: wrap; /*6:50 https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view*/
  margin-left: calc(-1 * var(--margin-set-gap));
  margin-top: calc(-1 * var(--margin-set-gap));
}
.product-list .item {
  flex-basis: calc(100% / 3 - var(--margin-set-gap));
  margin-left: var(--margin-set-gap);
  margin-top: var(--margin-set-gap);
}
.product-cover {
  /*ДЗ-5*/
  position: relative;
  display: flex;
}
.product-cover_content {
  /*ДЗ-5*/
  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*.product-list .item + .item {
  margin-left: 30px;
}*/
