/*/////Team/////*/

.team-list {
  display: flex;
}
.team-list .item {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

/*.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-list .item {
  flex-basis: calc(100%/4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 100px;
}*/

.teammate-img,
.teammate-position {
  margin-bottom: 30px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.teammate-position {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-section {
  background-color: #f5f4fa;
  margin-bottom: 0px;
  width: 100%;
  box-sizing: none;
}
.team-list .item {
  background-color: var(--hero-color);
}
.social-list {
  display: flex;
  margin: 0px 32px 30px;
  justify-content: space-between;
}
.social-list_link {
  /*1:43:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--social-link-color);
  &:hover,
  &:focus {
    background-color: var(--title-text-color);
  }

  &:hover .social-list_icon,
  &:focus .social-list_icon {
    fill: var(--hero-color);
  }
}

.social-list_icon {
  width: 20px;
  height: 20px;
}
