/*///////////////////Всплываюее окно///////////////*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /*
  background-color: rgba(33, 150, 243, 0.5)*/
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0; /*Делаем элемент невидимым*/
  pointer-events: none; /*делаем возможность клика через элемент*/
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: #000000;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--title-text-color);
  box-shadow: none;
}

.vector_icon {
  width: 11px;
  height: 11px;
}

.form {
  width: 448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /*margin: 40px 40px 12px;*/
}
.mode-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column; /*1:14:16 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}

/* ИЛИ .form-field input {/*1:14:16 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
/*width: 100%;
}*/

.icon-position {
  position: relative;
  margin-top: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  padding: 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /*1:19:00 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
}

.form-field input:focus {
  border: 1px solid #2196f3;

  outline: none;
}

/*ИЛИ*/

.form-field:focus-within > .form-input,
.form-field:focus-within > .comment {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.form-field label {
  /*1:17:00 https://www.youtube.com/watch?v=Ssws6DoJ3oY&feature=youtu.be*/
  margin-bottom: 5px;
}

.form-icons {
  /*55:00https://www.youtube.com/watch?v=6_Fq4G1pZas&feature=youtu.be*/
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  background-color: #ffffff;
  transform: translateY(-50%);
}

.form-input:focus + .form-icons,
.form-input:hover + .form-icons {
  fill: #2196f3;
}

.form-input:focus,
.form-input:hover,
.comment:focus,
.comment:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

/*.form-icons_mail {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 70%;
  left: 10px;
  transform: translateY(-70%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}*/

/*.form-checkbox {
  display: flex;
  text-align: center;
  justify-content: center;
}*/
.form-checkbox {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.policy-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
}

.comment {
  width: 100%;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none; /*невозможно растягивать ширину 1:18:00 https://www.youtube.com/watch?v=6_Fq4G1pZas&feature=youtu.be*/
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 8px;
}

/*.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 15px;
  border: #212121;
}*/

/*.checkbox:checked {
  -webkit-appearance: none; /*1:20:00 https://www.youtube.com/watch?v=wahf3ZcDxV4&feature=youtu.be*/
/* -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
}*/

.mode-button {
  display: inline-block;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 40px;
  width: 200px;
  border-radius: 4px;
  color: var(--hero-color);
  background-color: var(--title-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid #2196f3;
  outline: inherit;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-field:focus-within > .form-icons,
.form-field:focus-within > .form-icons_mail {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
