/*Общее оформление текста*/

.products-title,
.team-title,
.clients-title {
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.166;
  }
}

.team-title,
.clients-title {
  display: inline-block;
}
