:root {
  --primary-text-color: #212121;
  --title-text-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #afb1b8;
  --icon-background-color: #f5f4fa;
  --margin-set-gap: 30px;
}
